<%- include('partials/header'); -%>

<!-- Start Main Slider -->
<section id="main_slider">


  <section class="container-fluid container">
    <section class="row-fluid">
      <ul class="main_slider span12">
        <li>
          <div class="slider_content">

            <h4>

              اثر جرج اورول </h4>
            <p style="font-size: large;">داستان درباره‌ی گروهی از جانوران اهلی است که در اقدامی آرمان‌گرایانه و
              انقلابی، صاحب مزرعه (آقای جونز) را از مزرعه‌اش فراری می‌دهند تا خود اداره‌ی مزرعه را به‌دست گرفته و
              «برابری» و «رفاه» را در جامعه‌ی خود برقرار سازند. رهبری این جنبش را گروهی از خوک‌ها به‌دست دارند، ولی
              پس از مدتی این گروه جدید نیز به رهبری خوکی به نام ناپلئون همچون آقای جونز به بهره‌کشی از حیوانات مزرعه
              می‌پردازند و هرگونه مخالفتی را سرکوب می‌کنند.</p>
            <a href="قلعه حیوانات.html" class="purchase"> ادامه </a>
          </div>
          <div class="slider_img">
            <img src="images/slider_book.jpg" alt="Slider image">
          </div>
        </li>
        <li>
          <div class="slider_content">

            <h4>
              اثر اف. اسکات فیتزجرالد </h4>
            <p style="font-size: large;">چاپ اول گتسبی بزرگ در سال 1925 موفقیت چندانی کسب نکرد و فیتزجرالد، در
              حالی‌که خودش و این رمان را شکست خورده می‌دانست در سال 1940 درگذشت. بعد از جنگ جهانی دوم، در سال‌های
              1945 و 1935 تجدید چاپ شد. بلافاصله خوانندگان و طرفداران بی‌‌شماری یافت. در سال 1998 ، هیئت دبیران
              “مادرن لایبرری”، گتسبی بزرگ را بهترین رمان آمریکایی قرن بیستم و دومین رمان برتر انگلیسی زبان این قرن
              اعلام کرد
              <br> <a href="گتسبی.html" class="purchase"> ادامه </a>
          </div>
          <div class="slider_img">
            <img src="images/slider_book4.jpg" alt="Slider image">

          </div>
        </li>
      </ul>
    </section>
  </section>
</section>

</section>
</section>
<!-- End Main Slider -->

<!-- Start Book Detail Slider -->
<section id="book_detail_slider">

</section>
<!-- End Book Detail Slider -->

<!-- Start Features Boxes -->
<section id="features" class="ptb">
  <section class="container-fluid container">
    <section class="row-fluid">
      <ul class="span12" id="feature_list">
        <li class="span3 first">
          <div class="feature_box span10 first">
            <span class="f_num"> #1 </span>
            <a href="tamdid.html"> <img src="images/f1.png" alt="Feature" /> </a>
          </div>
          <h3><br>
            تمدید کتاب
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #2 </span>
            <a href="ورود.html"> <img src="images/f2.png" alt="Feature" /> </a>
          </div>
          <h3><br><br><br><br><br><br><br><br><br>
            ورود
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #3 </span>
            <a href="صفحه اصلی وبلاگ.html"> <img src="images/f3.png" alt="Feature" /> </a>
          </div>
          <h3><br><br><br><br><br><br><br><br><br>
            وبلاگ
          </h3>
        </li>
        <li class="span3">
          <div class="feature_box span10 first">
            <span class="f_num"> #4 </span>
            <a href="ثبت نام.html"> <img src="images/f4.png" alt="Feature" /> </a>
          </div>
          <h3><br>
            عضویت
          </h3>
        </li>
      </ul>

    </section>
  </section>
</section>
<!-- End Features Boxes -->


<!-- Start Pricing Section -->
<section id="pricing" class="ptb">
  <section class="container-fluid container">
    <section class="row-fluid">
      <h3>چرا کتاب می‌خوانیم؟</h3>
      <p style="font-size: large;">طبق نمودار فراموشیِ ابینگ هاوس 1 ساعت بعد از مطالعه، 80 درصد چیزی که خوانده‌ایم
        را به یاد می‌آوریم، بعد از یک روز 30 درصد، بعد از یک ماه 20 درصد و بعد از پنج سال فقط 10 درصد! با مرورِ منظم
        می‌توان جلوی فراموشی را گرفت که البته با فعالیت‌های زمان‌بری مثل نت‌برداری و تمرین همراه است.

        منحنی فراموشی ابینگ هاوس
        منحنی فراموشی ابینگ هاوس
        ولی از آنجا که این روش به جز در شرایط فورس ماژر مثل کنکور قابل اجرا نیست دوباره به سوال اولم برمی‌گردم که
        چرا کتاب می‌خوانیم؟

        چند دلیل:

        کتاب می‌خوانیم تا وقتمان را پر کنیم مثل آهنگ و فیلم؛
        با افکار و دیدگاه‌های جدید آشنا شویم؛
        سرنخ پیدا کنیم؛ چه بسا که جمله‌ای انسانی را نجات دهد.</p>
    </section>
  </section>
</section>
</section>
<!-- End Pricing Section -->


<!-- Start Footer Section -->
<section id="footer" class="ptb">
  <article class="span4">
    <h3>
      درباره ما
    </h3>
    <p> کاف کتاب محفلی برای هم اندیشی و به اشتراک گذاری کتابها و منابع معتبر و معروف جهان</p>

    <ul class="social">
      <li> <a class="s8" href="#"> Pintrest</a> </li>
      <li> <a class="s7" href="#"> Youtube</a> </li>
      <li> <a class="s5" href="#"> Twitter</a> </li>
      <li> <a class="s2" href="#"> Dribble</a> </li>
      <li> <a class="s1" href="#"> Facebook</a> </li>
    </ul>
  </article>
  <section class="container container-fluid">
    <section class="row-fluid">
      <figure class="span7">
        <nav>
          <ul>
            <li> <a href="index.html">منابع</a> </li><br>
            <li> <a href="blog.html">اخبار</a> </li><br>
            <li> <a href="blog-single.html"> پرسش و پاسخ از کتابدار</a> </li><br>
            <li> <a href="phone.html">تماس با ما</a> </li><br>
          </ul>
        </nav>
      </figure>

    </section>
  </section>
</section>
<!-- End Footer Section -->

</div>


<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="js/lib.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/lib-1-7-2.js"></script><!-- lib Js -->
<script type="text/javascript" src="js/jquer_ui-1-8-3.js"></script> <!-- UI Library -->
<script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="js/input-clear.js"></script><!-- Input Clear -->
<script type="text/javascript" src="js/social.js"></script><!-- Social Icons -->
<script type="text/javascript" src="js/mousewheel.min.js"></script><!-- Mousewheel -->
<script type="text/javascript" src="js/mCustomScrollbar.min.js"></script><!-- Modren Custom Scrollbar -->
<script type="text/javascript" src="js/bookblock.js"></script><!-- Flip Slider -->
<script type="text/javascript" src="js/smooth-scroll.js"></script> <!-- SmoothScroll -->
<script type="text/javascript" src="js/smoothscroll_1.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="js/smoothscroll_2.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="js/smoothscroll_3.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="js/smoth-scrolling.js"></script><!-- smoth-scrolling js -->
<script type="text/javascript" src="js/custom.js"></script><!-- Custom js -->
<script type="text/javascript" src="js/cockies.js"></script><!-- Cookie js -->
<script type="text/javascript" src="js/colorswitcher.js"></script><!-- Color Switcher js -->
<!-- Preloader -->
<!-- JS Files End -->
<noscript>
  <style type="text/css" scoped>
    #socialicons>a span {
      top: 0px;
      right: -100%;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    #socialicons>ahover div {
      right: 0px;
    }
  </style>
</noscript>
<script type="text/javascript">
  /* <![CDATA[ */
  $(document).ready(function () {
    $("#scrollgallery").smoothDivScroll({ touchScrolling: true, manualContinuousScrolling: true, visibleHotSpotBackgrounds: "always", autoScrollingMode: "onstart" });
    $('#nav').scrollspy()
  }); $("#scrollgallery").bind("mouseover", function () { $("#scrollgallery").smoothDivScroll("stopAutoScrolling"); }); $("#scrollgallery").bind("mouseout", function () { $("#scrollgallery").smoothDivScroll("startAutoScrolling"); });

  $(window).load(function () {
    $("#scrollgallery").fadeIn(300);
  });
      /* ]]> */
</script>
</body>

</html>