<%- include('partials/header'); -%>

<!-- Start Inner Page Holder -->
<section id="inner-page-holder">
	<!-- Start Inner Page Title Bar -->
	<section id="title-bar" class="content-col">
		<section class="container-fluid container">
			<section class="row-fluid">

				شما اینجا هستید:
				</span> <a href="صفحه اصلی.html">صفحه اصلی</a> / صفحه ورود و ثبت نام</p>
				</article>

			</section>
		</section>
	</section>
	<!-- End Inner Page Title Bar -->

	<!-- Start Inner Main Content Holder -->
	<section id="col-holder">
		<section class="container-fluid container">
			<section class="row-fluid">
				<article class="span8">
					<div class="content-col">

						<hr class="clr1">
						<h4>
							ورود به حساب کاربری</h4>
						<hr>
						<form action="/useres/login" method="post">
							<ul class="contact-form">
								<li><input type="text" name="email"> <label>ایمیل*</label></li>
								<li><input type="text" name="password"> <label>رمز عبور *</label></li>

								<li><input type="submit" value="ورود ">
								</li>
							</ul>
						</form>
						<a href="ثبت نام.html"> حساب کاربری ندارید؟ثبت نام کنید </a>
					</div>
				</article>

				<article class="span4">
					<div class="left-col">
						<div class="widget-holder" dir="ltr">
							<h4>
								دسته بندی
							</h4>
							<ul class="cat-list">
								<li>
									<a href="#"><i class="icon-angle-right"></i>موضوعی</a>
									<span class="num">208</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i>تاریخی</a>
									<span class="num">220</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i>ادواری</a>
									<span class="num">152</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i> سمعی</a>
									<span class="num">32</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i>

										بصری </a>
									<span class="num">76</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i>آموزشی</a>
									<span class="num">33</span>
								</li>
								<li>
									<a href="#"><i class="icon-angle-right"></i>دیجیتالی</a>
									<span class="num">110</span>
								</li>
							</ul>
						</div>



						<div class="widget-holder">
							<div id="content">
								<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
									<li class="active"><a href="#popular" data-toggle="tab"> محبوب</a></li>
									<li><a href="#recent" data-toggle="tab">تازه ها</a></li>
								</ul>
								<div id="my-tab-content" class="tab-content">
									<div class="tab-pane active" id="popular">
										<ul class="post-list">
											<li>
												<a href="گتسبی.html">
													<div class="img-holder-l"><img src="images/image19.jpg" alt="" />
													</div>
													<div class="img-cap-r">
														<p>
														<h4><a href="گتسبی.html">گتسبی</a></h4>
														</p>
														<p>اثر ویلا کاتر</p><br>
														<p>موضوع این رمان برتر درباره‌ی نخستین اسقف نیومکزیکو،
															ژان‌ماریه لاتور و دستیارش ژوزف ویان در دهه‌ی ۱۸۵۰
															میلادی است که با دو قاطرشان</p>

												</a>
									</div>
									</li>
									<li>
										<a href="روایت یک مرگ.html">
											<div class="img-holder-l"><img src="images/image20.jpg" alt="" />
											</div>
											<div class="img-cap-r">
												<p>
												<h4><a href="روایت یک مرگ.html">روایت یک مرگ</a></h4>
												</p>
												<p>اثر جی.آر.آر. تالکین </p><br>
												<p>رمانی معروف که یکی از ۱۰۰ رمان برتر جهان است. رمانی به سبک
													خیال‌پردازی حماسی که طی ۱۲ سال از ۱۹۳۷ تا ۱۹۴۹ نگارش شده‌است
												</p>
										</a>
								</div>
								</li>
								<li>
									<div class="img-holder-l"><img src="images/image21.jpg" alt="" /></div>
									<div class="img-cap-r">
										<p>
										<h4>خانم دالاوی</h4>
										</p>
										<p>اثر ویرجینیا وولف</p><br>
										<p>وولف این رمان برتر جهان را به شیوه‌ی سیال ذهن نوشته و پیوسته بین زمان
											حال و گذشته‌ی شخصیت‌ها در حرکت است</p>

									</div>
								</li>
								</ul>
							</div>
							<div class="tab-pane" id="recent">
								<ul class="post-list">
									<li>
										<a href="قلعه حیوانات.html">
											<div class="img-holder-l"><img src="images/image22.jpg" alt="" />
											</div>
											<div class="img-cap-r">
												<p>
												<h4><a href="قلعه حیوانات.html"> قلعه‌ی حیوانات </a></h4>
												</p>
												<p>اثر جرج اورول</p><br>
												<p>داستان درباره‌ی گروهی از جانوران اهلی است که در اقدامی
													آرمان‌گرایانه و انقلابی، صاحب مزرعه (آقای جونز) را از
													مزرعه‌اش فراری می‌دهند تا خود اداره‌ی مزرعه را به‌دست گرفته
												</p>
										</a>
							</div>
							</li>

							<li>
								<a href="ناطوردشت.html">
									<div class="img-holder-l"><img src="images/image23.jpg" alt="" /></div>
									<div class="img-cap-r">
										<p>
										<h4><a href="ناطوردشت.html">ناطوردشت</a></h4>
										</p>
										<p>اثر جروم دیوید سلینجر</p><br>
										<p>شخصیت اصلی رمان، هولدن کالفیلد، نوجوانی ۱۷ ساله‌ است. او در جایی شبیه
											مرکز توانبخشی یا مرکز درمانی و یا چیزی شبیه به این است که قصد دارد
										</p>
								</a>
						</div>
						</li>
						<li>
							<div class="img-holder-l"><img src="images/image24.jpg" alt="" /></div>
							<div class="img-cap-r">
								<p>
								<h4>بربادرفته</h4>
								</p>
								<p>اثر مارگارت میچل</p><br>
								<p>مارگارت میچل برای این رمانِ عاشقانه‌ی بی‌نظیر جایزه‌ی ادبی نوبل سال ۱۹۳۷ را
									دریافت نمود. ویکتور فلمینگ نیز برمبنای آن فیلمی ساخت که در سراسر جهان رکورد
									فروش را شکست.</p>

							</div>
						</li>
						<li>
							<div class="img-holder-l"><img src="images/image21.jpg" alt="" /></div>
							<div class="img-cap-r">
								<p>
								<h4>خانم دالاوی</h4>
								</p>
								<p>اثر ویرجینیا وولف</p><br>
								<p>وولف این رمان برتر جهان را به شیوه‌ی سیال ذهن نوشته و پیوسته بین زمان حال و
									گذشته‌ی شخصیت‌ها در حرکت است</p>

							</div>
						</li>
						</ul>
					</div>
					</div>
					</div>
					</div>
					<div class="widget-holder" dir="ltr">
						<h4>اخبار </h4>
						<div class="testimonials-slider">
							<figure class="testimonials">
								<ul id="testimonials">
									<li>
										<p>
										<h4>دسترسی رایگان به پایان نامه های دانشجویی كشورهای اروپایی از طریق پایگاه DIVA
										</h4>
										با سلام خدمت تمامی اساتید بزرگوار، دانشجویان، همکاران و...پایگاه DIVA، پایگاهی
										اروپایی است که
										دانشجویان میتوانند برای دریافت رایگان پایان نامه های دانشجویی به آن مراجعه کنن
										</p>

									</li>
									<li>
										<p>
										<h4>جستجوی کتب لاتین موجود در 27 نمایشگاه بین المللی کتاب تهران</h4>
										جستجوی بخش ارزی و ریالی کتب لاتین موجود در 27 نمایشگاه بین المللی کتاب تهران
										http://tibf.ir/fa/book?bookLang=en



										</p>

									</li>
								</ul>
							</figure>
						</div>
					</div>

					<div class="widget-holder">
						<h4>وبلاگ</h4>
						<figure class="books-slider" dir="ltr">
							<ul id="books-slider">
								<li>

									<div><img src="images/image17.jpg" alt="" /></dev>
										<a class="bx-prev" href=""></a>

									</div>
									<div class="book-cap-bar">
										<strong>
											<a href="قرنطینه.html"> در قرنطینه چه کتاب‌هایی بخوانیم</a>
										</strong>
										<span>معرفی ۱۲ کتاب از بهترین و پرفروش‌ترین رمان‌های دنیا</span>
									</div>
								</li>
								<li>
									<div><img src="images/image18.jpg" alt="" /></div>
									<div class="book-cap-bar">
										<strong>
											<a href="چالز دیکنز.html"> ۱۸ حقیقت جالب در مورد چارلز دیکنز</a>

										</strong>
										<span>در سالروز درگذشت او که تا به حال نشنیده‌اید</span>
									</div>
								</li>
							</ul>
						</figure>
					</div>

					</div>
				</article>
			</section>
		</section>
	</section>
	<!-- End Inner Main Content Holder -->

</section>
<!-- End Inner Page Holder -->


<!-- Start Footer Section -->
<section id="footer" class="ptb">
	<article class="span4">
		<h3>
			درباره ما
		</h3>
		<p> کاف کتاب محفلی برای هم اندیشی و به اشتراک گذاری کتابها و منابع معتبر و معروف جهان</p>

		<ul class="social">
			<li> <a class="s8" href="#"> Pintrest</a> </li>
			<li> <a class="s7" href="#"> Youtube</a> </li>
			<li> <a class="s5" href="#"> Twitter</a> </li>
			<li> <a class="s2" href="#"> Dribble</a> </li>
			<li> <a class="s1" href="#"> Facebook</a> </li>
		</ul>
	</article>
	<section class="container container-fluid">
		<section class="row-fluid">
			<figure class="span7">
				<nav>
					<ul>
						<li> <a href="index.html">منابع</a> </li><br>
						<li> <a href="blog.html">اخبار</a> </li><br>
						<li> <a href="blog-single.html"> پرسش و پاسخ از کتابدار</a> </li><br>
						<li> <a href="phone.html">تماس با ما</a> </li><br>
					</ul>
				</nav>
			</figure>

		</section>
	</section>
</section>
<!-- End Footer Section -->


</div>
<!-- End Main Wrapper -->

<div class="switcher"></div>

<script type="text/javascript" src="/js/lib.js"></script><!-- lib Js -->
<script type="text/javascript" src="/js/lib-1-7-2.js"></script><!-- lib Js -->
<script type="text/javascript" src="/js/jquer_ui-1-8-3.js"></script> <!-- UI Library -->
<script type="text/javascript" src="/js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="/js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="/js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="/js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="/js/input-clear.js"></script><!-- Input Clear -->
<script type="text/javascript" src="/js/social.js"></script><!-- Social Icons -->
<script type="text/javascript" src="/js/mousewheel.min.js"></script><!-- Mousewheel -->
<script type="text/javascript" src="/js/mCustomScrollbar.min.js"></script><!-- Modren Custom Scrollbar -->
<script type="text/javascript" src="/js/bookblock.js"></script>
<script type="text/javascript" src="/js/smooth-scroll.js"></script> <!-- SmoothScroll -->
<script type="text/javascript" src="/js/smoothscroll_1.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="/js/smoothscroll_2.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="/js/smoothscroll_3.js"></script> <!-- jQuery  Gallery Scroll -->
<script type="text/javascript" src="/js/jquery.ba-bbq.js"></script>
<script type="text/javascript" src="/js/custom.js"></script><!-- Custom js -->
<script type="text/javascript" src="/js/cockies.js"></script><!-- Cookie js -->

<!-- Preloader -->
<!-- JS Files End -->

<noscript>
	<style type="text/css" scoped>
		#socialicons>a span {
			top: 0px;
			right: -100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		#socialicons>ahover div {
			right: 0px;
		}
	</style>
</noscript>
<script type="text/javascript">
	/* <![CDATA[ */
	$(document).ready(function () {
		$("#scrollgallery").smoothDivScroll({ touchScrolling: true });
		$('#nav').scrollspy()
	});

	$(window).load(function () {
		$("#scrollgallery").fadeIn(300);
	});
      /* ]]> */
</script>
</body>

</html>